/* Dark theme */
body.dark {
    background-color: #20222f;
  }
  .top-header.dark {
    background-color: #20222f;
    
  }
  .top-header-wrapper.dark{
    h1{
      color: white;
  }}
 

  .grid-box-total.dark {
    background-color: #252b42;
    color: white;

    
    p{
        color: white;
    }
    span{
        color: #8C98C6;
    }
  }
  
.grid-box-today.dark {
    background-color: #252b42;
  
   .flex-row{
    span{
        color: #8C98C6;
    }
    h4{
        color: white; 
    }
   }
  }