*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
.top-header {
  background-color: #f7f9ff;
  border-radius: 0 0 20px 20px;
  padding: 2.5rem 4rem 1.5rem 1.5rem;
}
.top-header h1 {
  font-size: 1.5rem;
  color: #1d1f29;
  font-weight: bold;
}
.top-header p {
  font-size: 0.875rem;
  font-weight: bold;
  color: #63687d;
  margin-bottom: 1.5rem;
}
.Dark-mode-text {
  font-size: 0.875rem;
  font-weight: bold;
  color: #63687d;
}
.Mode-slider {
  border-top: 1px solid #848bab;
  padding-block: 1rem;
}
.Mode-slider input {
  margin-left: auto;
}

.grid-container-total {
  display: grid;
  justify-content: center;

  grid-template-columns: minmax(255px, 500px);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  margin-inline: 1.5rem;
}
.grid-box-total {
  background-color: #f1f3fa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 32px;
}
.grid-box-total:nth-of-type(1) {
  border-top: 4px solid #178ff5;
}
.grid-box-total:nth-of-type(2) {
  border-top: 4px solid #1da1f2;
}
.grid-box-total:nth-of-type(3) {
  border-top: 4px solid transparent;
  position: relative;
}
.grid-box-total:nth-of-type(3)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, #df4896, #ee877e, #fdc366);
  top: -4px;
  left: 0;
  border-radius: 4px 4px 0 0;
}

.grid-box-total:nth-of-type(4) {
  border-top: 4px solid #c4032b;
}
.flex-box-aligment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}
.flex-box-aligment span {
  margin-left: 0.5rem;
}
.grid-box-total span {
  font-size: 12px;
}
.grid-box-total h2 {
  font-size: 56px;
  line-height: 40px;
  padding-bottom: 8px;
}

.type-of-sm-activity {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 24px;
}
.overview {
  margin-top: 46px;
  margin-inline: 1.5rem;
  font-size: 24px;
  color: #63687d;
  font-weight: bold;
  margin-bottom: 27px;
}
.grid-container-today {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  margin-inline: 1.5rem;
}
.grid-box-today {
  background-color: #f1f3fa;
  border-radius: 5px;
  padding-block: 28px;
  grid-column: span 2;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-box-today span {
  font-size: 14px;
  font-weight: bold;
  color: #63687d;
}
.grid-box-today h4 {
  font-size: 32px;
  font-weight: bold;
  color: #1d1f29;
}
.grid-box-today p {
  font-size: 12px;
  font-weight: bold;
  color: #1eb589;
  grid-column: 3/3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.25rem;
}
.grid-box-today .red {
  color: #dc414c;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 1rem;
}
.checkbox {
  display: none;
}
.checkbox:checked + .label {
  background-color: #1eb589;
}
.checkbox:checked + .label .ball {
  background-color: #333a55;
  transform: translateX(24px);
  transition: ease-in-out 300ms;
}
.checkbox + .label .ball {
  transform: translateX(0px);
  transition: ease-in-out 300ms;
}
.label {
  background-color: #111;
  display: flex;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  position: relative;
  cursor: pointer;
}
.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

@media screen and (min-width: 800px) {
  .Mode-slider {
    border: 0;
  }

  .grid-container-total {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(255px, 1fr));
    gap: 1rem;
    margin-inline: 1.5rem;
  }
  .grid-container-today {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 1.5rem;
  }
  .container-wrapper,
  .top-header-wrapper {
    margin-inline: 5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1270px) {
  .Mode-slider {
    border: 0;
  }
  .grid-container-total {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, minmax(255px, 1fr));
    gap: 1rem;
    margin-inline: 1.5rem;
  }
  .grid-container-today {
    display: grid;
    grid-template-columns: repeat(4, minmax(255px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 1.5rem;
  }
  .container-wrapper,
  .top-header-wrapper {
    margin-inline: 5rem;
    margin-bottom: 4rem;
  }
}
